.form-item-lang-dropdown-select {
/*  display: inline;*/
margin-top: -25px;
padding-left: 13px;

}
.lang_dropdown_form{
    margin-top: 10px;
}
.block-lang-dropdown .title{
    display:none;
}
.lang-dropdown-select-element option{
    
    background:#333333;
}
.language-icon{
    border:1px solid #fff;
}
.lang-dropdown-form img.language-icon {
  padding: 0 4px;
  float:left;
  border: 1px solid #FFF!important;
  
}
