/* Basic Styles*/
input, button, select, textarea{	line-height:normal;}
ul{	padding:0;	margin:0;}
/*ul li{	list-style-type:none;}*/
a,a:hover,a:active,a:focus{	outline:none;	text-decoration:none;}
.clr{	clear:both;	float:none;}
.space-2, .space-3 { margin: 4px 0 3px !important; max-height: 1px;   min-height: 1px;   overflow: hidden;	padding:5px;}
.space-3{	 margin: 15px 0 15px;}
h2, .h2 {    font-size: 24px !important;}
h2>small {    text-transform:none;}
h2>span {    color:#ed7502;}
h1, .h1, h2, .h2, h3, .h3 {margin-bottom: 10px;margin-top: 20px;font-family:Open Sans;text-transform:uppercase;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.h3{	color:#FFF !important;}
h6{	margin-bottom:5px !important;}
/* Main Styles*/
#wrapper{font-size:12px;line-height:21px;background:#FFF;}
/*.container{
	width:989px;
}*/
header{	background:none; }
.header-tp{	background:#333333;min-height:0px;}
.header-md{	background:#ed7400;	min-height:44px;}
.header-bt{	background:#f0efeb;	min-height:69px;border-bottom: solid 1px #dddbd9;}
.region-header-top ul li a{color:#BBB;text-decoration: none;}
.region-header-top ul li a:hover{color:#ED7400;}
.top-nav{width:100%;overflow:hidden;}
.top-nav ul li{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#bbbbbb;
	padding:10px 5px !important;
	float:left;
	cursor:pointer;
}
.top-nav ul li:hover{	color:#ed7400;}
.logo{
	background: none repeat scroll 0 0 #E14800;
    color: #FFFFFF;
    font-family: "Myriad Pro";
    font-size: 22px;
    font-weight: bold;
    padding: 11px 25px;
    text-align: center;
}
.logo>span{ font-weight:normal;}
.logo-left{	float:left;width:auto !important;font-family:"CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif;}
.logo-right{float:left;width:auto !important;padding-top:5px;}
.social{float:left;width:auto;}
.head2-left{width:50%;float:left;}
.fa{ color:#FFF;}
.fa-dropbox, .fa-truck, .fa-search, .fa-file, .fa-plane, .fa-trash-o{color:#bbbbbb;}
.grid-fa-pencil{color:#bbbbbb;}
.card_img{ float:left; width:17%; padding:2px;}
.pay_img{ float:left; width:25%; padding:2px;}
.tabs{	margin:0 -15px;}
 /* Top Menu*/
.mattblacktabs{width: auto;overflow: hidden;float:right;}
.mattblacktabs ul{margin: 0;padding: 0;font: bold 12px Open Sans;list-style-type: none;}
.mattblacktabs li{display: inline;margin: 0;}
.mattblacktabs li a{float: left;display: block;text-decoration: none;margin: 0;padding: 14px 8px; color: #FFF;background: none;
font-family:"CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif;
}
.mattblacktabs li a:visited{background:#e14800;}
.mattblacktabs li a:hover, .mattblacktabs li.selected a{background:#e14800;}
/*End of the menu*/
/* Main Left Menu*/
.main-menu{width: 100%;overflow: hidden;}
.main-menu ul{margin: 0;padding: 0;
/*font:14px Open Sans;*//*list-style:url(../App_Images/right.png) inside;*/
}
.main-menu li{display: inline;margin: 0;}
.main-menu li a{display: block;text-decoration: none;margin: 0;padding: 7px; color: #434343;background: #f0efeb;text-transform:capitalize;
border-bottom: solid 1px #FFF;
}
.main-menu li a:hover, .main-menu li.active a{background:#e14800;color:#FFF;}
#user-login label{width:15%;}
#user-login .form-submit{margin-left: 15%;padding: 3px 10px;}
#edit-account lable{width:20%;}
/* End of Main Left Menu*/
.print-lt{	text-align:left;	float:left;	width:10%;}
.print-rt{	text-align:right;		width:10%;	/*padding-top:2px;*/}
.prints, .prints1, .prints2, .prints3, .prints4, .prints5{	width:100%;	margin:auto;	background:#008bff;	float:left;	
	margin-bottom:10px;	padding:5px 3px; min-height:51px;}
.prints1{background:#fc3101;}
.prints2{background:#ee009a;}
.prints3{background:#019000;}
.prints4{background:#01c6ff;}
.prints5{background:#cfb621;}
.prints-p, .prints-p1{text-transform:uppercase;font-weight:normal;font-size:14px;color:#FFF;text-align:center;
	width:75%;float:left;padding:0px !important;margin:0;
}
.prints-p1{	font-size:12px;}
.products-Thumbnail{width:100%;float:left;margin:20px auto;	background:#f7f8fa;	border: solid 2px #f0efeb;
	min-height:265px;position:relative;}
.products-Thumbnail > p{
    background: none repeat scroll 0 0 #f0efeb;color: #434343;padding: 20px 0;margin:0px;border-bottom: dotted 1px #999;
    text-align: center;font-size:18px;cursor:pointer;}
.products-Thumbnail > p:hover{color:#e14800 !important;text-decoration:underline;cursor:pointer;}
.products-title, .products-title1{float:left;background:#ed7400;position:absolute;top:0;
	left:0;color:#FFF;font-size:12px;padding:5px;font-weight:600;}
.products-title1{background:#43ac6a;}
/*Products list*/
.item {float: left;margin: 5px;position: relative;text-align: center;}
.item, .item-hover, .item-hover .mask, .item-img, .item-info { height: 245px;  width: 99%;}
.item-hover, .item-hover .mask, .item-img { left: 0; position: absolute; top: 0;}
.item-type-line .item-hover {  cursor: pointer;  display: block; opacity: 0; text-align: center;
    text-decoration: none; transition: all 300ms ease-out 0s;  z-index: 100;}
.item-type-line .item-info {color: #ffffff;display: inherit; position: relative;vertical-align: middle;
    z-index: 5;top: 0em;padding-top:1em;}
.item-type-line .item-info .headline {font-size: 14px;text-align:left;padding:12px 4px;}
.item-type-line .item-info .line {   background-color: #ffffff;  height: 1px; margin: 15px auto;
    transition: all 500ms ease-out 0s;    width: 0;}
.item-type-line .item-info .date {    font-size: 12px;}
.item-type-line .item-hover .mask {background-color: #000;opacity: 0.5; z-index: 0;}
.item-type-line .item-hover:hover .line {   width: 50%;}
.item-type-line .item-hover:hover {    opacity: 1;}
.item-img {    /*background-color: #7a548f;*/    z-index: 0;	padding-top:4em;}
/* End product list*/
.blue-bg{ 	background:#3398ca;	padding:25px 0;}
.blue-bg .h4{color:#f0efeb !important; font-weight:bold;}
.blue-bg_img{ float:left; width:30%; padding:2em;}
.blue-bg_cont{ float:left; width:68%; color:#FFF;}
.lit-gra-bg{ 	background:#f0efeb;	padding:25px 0;}
.lit-box{ width:100%; float:left; margin-bottom: 15px;}
.lit-gra-span{ color:#ed7400;}
/*.lit-gra_img{ float:left; width:25%; padding:2em; margin-right:1em; background:#666; min-height:8em; margin:1em 1em 1em 0;}*/
.lit-gra_h{ float:left; color:#434343; font-weight:bold; text-transform:uppercase; width:100%;}
/*.lit-gra_cont{ float:left; width:68%; color:#434343; font-weight:normal;}*/
.lit-video{float:left; width:100%; background:#666; min-height:22em;}
.lit-soc_img{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;    margin: 0 1em 0 0;    min-height: 8em;    padding: 2em 1em;    text-align: center;    width: 25%;}
.lit-soc_fa-twitter, .lit-soc_fa-facebook, .lit-soc_fa-youtube{ color:#91918f;}
.lit-soc_fa-twitter a:hover{ color:#ed7400;}
.md-fa-dropbox{ color:#FFF;}
.list-fa-th-list, .list-fa-align-justify{ color:#999;}
.footer-bg{	background:#333333;	min-height:20em;padding:10px 0px}
#block-aggregator-feed-1 h2, #block-simplenews-1 h2{font-size:18px !important; display: none;}
.issues-link  .feed-icon a{display:none !important;}
#simplenews-block-form-1 label{float:left;padding-right: 7px;}
#simplenews-block-form-1  input[type="text"]{float:left;width:200px;border-radius: 50px 0 0 50px !important;}
#simplenews-block-form-1  input[type="submit"]{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.edit-submit--2{padding:0px 12px 1px 12px;}
/* pager */
.pager {list-style: none outside none; margin: 20px 0;padding-left: 0; text-align: center;}
.pager li {   display: inline;}
.pager li > a, .pager li > span {
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
	color:#ed7400 !important;
}
.pager li > a:hover, .pager li > a:focus {
    background-color: #ed7400 !important;
	 border: 1px solid #ed7400 !important;
    text-decoration: none !important;
	color:#FFF !important;
}
/* End of the pager*/
/* pagination */
.pagination {   border-radius: 4px;display: inline-block;margin: 20px 0;padding-left: 0;}
.pagination > li {    display: inline;}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #ed7400 !important;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-bottom-left-radius:4px;border-top-left-radius:4px;margin-left: 0;}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;    border-color: #ddd;    color: #ed7400 !important;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ed7400 !important; border-color: #ed7400 !important;color: #fff !important;cursor: default;z-index: 2;}
/*  End of the pagination*/
.well-lg {    border-radius: 0 !important;    padding: 24px;}
.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin:10px 0;
    min-height: 20px;
    padding: 19px;
}
.panel-heading{
	background:#333333 !important;
	color:#FFF !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px
	}
.panel-heading-grid{
	background:#f0efeb !important;
	color:#434343 !important;
	text-transform:uppercase !important;
	font-weight:bold;
	font-size:14px;
	padding:10px 5px;
	}	
.down-tpm{	margin-top:8em;}
.btn-red {background-color: #ed7400;border-color: #ed7400;color: #fff;font-weight:500;padding:10px 0;}
.btn-red-p{ text-align:center;}
.order-view, .order-view-top{
	width:100%;
	padding:10px 0;
	background:#f7f7f5;
	margin-bottom:2px;
	float:left;
}
.order-h{ color:#ed7400; text-transform:uppercase; font-size:12px;font-weight:bold;}
.order-view-top{	background:#f0efeb;}
.dym{ width: 14%; float:left; margin:0 5px; text-align:center;}
.shipzone{ width: 20%; float:left; margin:0 5px; text-align:center;}
.shipzone-span{ color:#ed7400;}
.dym-p{ color:#434343;font-size:11px;font-weight:bold; text-transform:uppercase;}
.order-view-hd{
	background:#333333;
	width:50%;
	padding:10px 5px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#FFF;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
/*.order-view > lable{ color:#ed7400 !important;}*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { overflow:hidden;}
.foooter-h4{ color:#ed7400; font-size:14px; text-transform:uppercase; font-weight:bold;}
.footer-bg-p{ color:#f0efeb; font-size:12px;}
.footer-ul{ display:inline; overflow:hidden;}
.footer-ul li{
	color: #F0EFEB;
	width: 99%;
	border-bottom: 1px dotted #919190;
	padding: 5px 0px;
	font-size: 12px;
	list-style: none;
}
.footer-cright{ color:#f0efeb; font-size:12px; text-align:left; padding:10px 0px; padding-left:20px;}
/**********Add by Satya***********************/
/**********Add by Satya***********************/
.form-checkbox {    float: left;     width: 10%;}
.form-item.form-type-textfield > label,.form-item.form-type-select > label {    width: 50%;}
/*#edit-material-id{width:38%;}
#edit-template-id{width:38%;}
#edit-subgroup-id{width:38%;}
#edit-productgroup-id{width:38%;}
#edit-material-group-id{width:38%;}
#edit-subgroup-id{width:38%;}
#edit-processing-id{width:38%;}
#edit-price-calc-type-id{width:38%;}
#edit-website-id{width:38%;}
#edit-currency-type{width:38%;}
#edit-custom-image-upload-button--2{float:right; }*/
.form-submit.ajax-processed { float: right;	margin-right:130px;	margin-top:-20px;}
.col-sm-12 col-md-12 {    border: 2px;}
#add-quote input[type='text']{         width :38%;}
.txtareapad{    padding-left:18px;    padding-right:20px;}
/************END Css*************************/
/************END Css*************************/
#user-login.form-item.form-type-textfield.form-item-name>label{width:90px;}
.form-item.form-type-password.form-item-pass>label{width:90px;}
.form-item-volume-weight-price-calculation-1>label,.form-item-use-of-external-designer-program-1>label,.form-item-extra-processing-1>label,.form-item-sell-with-structure-1>label,.form-item-choice-of-copy-number-1>label,.form-item-in-home-page-flag-1>label,.form-item-extra-processing-big-1>label,.form-item-destination-id-1>label,.form-item-free-dimensions-available-1>label{    font-weight:bold;}
ul, ol {    margin-bottom: 0px !important;    margin-top: 0;}
/*---------- santosh --------*/
.sfwidth {    height: auto;    width: 100% !important;}
.form-text, .form-select, .form-textarea, .input {     background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 5px 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
#user-login input[type="text"]{    width:50% !important;}
#user-login input[type="password"]{    width:50% !important;}
.form-item .description{    font-size:0.9em !important;    width:50%;}
#user-register-form input[type="text"]{    }
#user-register-form select{}
.form-textarea {    min-height: 100px;}
.form-item-custom-image{    padding: 0 2em;}
.shall-check{    margin-top: 2.5em !important;}
.promoted-check{    margin-top: 3em !important;}    
.langmenu{
list-style-type: none;
margin:0;
padding: 0;
width: 100%;
border-bottom-width: 1px solid #cccccc;
}
.langmenu li a{
background:#f0efeb;
/*background-color:#eeeeee;*/
border-bottom:1px solid #FFF;
font: bold 11px "CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif;
color: #404040;
display: block;
width: auto;
padding:  7px 0 7px 10px;
text-decoration: none;
line-height:17px;
}
* html .langmenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */width: 100%;}
.langmenu li a:visited, .langmenu li a:active{color: #ed7400;}
.langmenu li a:hover{background:#f0efeb;color:#ed7400;}
.lang-head{
border-bottom:1px solid #CCC;
font: bold 12px "CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif;
color:#FFF;
display: block;
width: auto;
padding-left: 10px;
text-decoration: none;
text-transform:uppercase;
line-height:26px;
width:100%;
background:#ed7400; height:28px;
}
#block-locale-language h2{
border-bottom:1px solid #CCC;
font: bold 12px "CenturyGothicRegular","Century Gothic",Arial,Helvetica,sans-serif !important;
color:#FFF;
display: block;
width: auto;
padding: 10px;
text-decoration: none;
text-transform:uppercase;
line-height:26px;
width:100%;
background:#ed7400; 
margin:10px 0 0;

}
.langubg{
	background: none repeat scroll 0 0 #ededed;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: block;
    float: left;
	margin-bottom:5px;
        margin-top:10px;
	width:100%;
}
.langutitle{
	background: none repeat scroll 0 0 #dedede;
    border-bottom: 1px solid #ccc;
    color: #428bca;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: left;
}
@media only screen and (max-width:360px){
    .form-submit.ajax-processed {
    float: right;
    margin-right: -130px !important;
    margin-top: -27px;
}
}
@media only screen and (max-width:480px){
    #user-login input[type="text"] {
    width: 100%;
}
#user-login label{
    width: 100%;
}
#user-login input[type="password"] {
    width: 100%;
}
}
.lit-gra_img{float: left;width: 100px;min-height: 8em;margin: 0em 0.5em 0 0;}
.lit-gra_img img{border: solid 1px #CCC;}
.lit-gra_cont {float: left;width: 60%;color: #434343;font-weight: normal;}
.head2-left{	margin:0 !important ;}
.input-group .form-control {
    border-radius: 50px 0  0 50px !important;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
.btn-default {
    /*background-color: #FFFFFF;*/
    border-color: #CCCCCC;
	background: rgb(247,247,247) !important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -moz-linear-gradient(top, rgb(247,247,247) 0%, rgb(221,221,221) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(247,247,247)), color-stop(100%,rgb(221,221,221))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(247,247,247) 0%,rgb(221,221,221) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(247,247,247) 0%,rgb(221,221,221) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(247,247,247) 0%,rgb(221,221,221) 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, rgb(247,247,247) 0%,rgb(221,221,221) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ) !important; /* IE6-8 */
    border-radius:0 50px 50px 0!important;
    color: #333333;
}
.fa-search{ color:#E14800 !important;}
/* Footer Area Code */
.lit-gra_cont a h4{
color: #434343;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
	font-size: 13px;
	line-height: 17px;
	margin-top: 0px;
}
.footer-ul li a{color:#FFF;text-decoration: none;}
.region-header-top-left{    float: right;    margin:-6px 0; }
.fa-envelope-o{    color: #E14800 !important;}
.lung-tran{    width:130px; padding:1px 5px; background:#EEE;border-radius: 3px;}
.lang-dropdown-select-element{
width: 110px;
background: none;
color: #FFF;
border: none;
box-shadow: none;
outline: none; 
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button !important;
  cursor: pointer !important;
  background: #ed7400 !important;
  color: #fff !important;
  padding: 6px 15px !important;
  border: 1 !important;
  margin: 0px !important;
  border-radius: 2px !important;
}
.col-md-4 {    padding: 0 5px !important;}
 .add-form{margin-right:5px;}
 .fa-eur{color: #333;   letter-spacing: 3px;}
 .meta { display:none; }
 .form-type-item{ display:none; }
 .description{padding:8px 10px; }
  .form-managed-file input.progress-disabled, .form-submit ajax-processed{
  float: right !important;
  margin-right: 10px !important;
  margin-top: -40px !important;
 }
 #edit-volume-weight-price-calculation, #edit-destination-id-big, #edit-packaging-price-calculation1,.form-item-destination-id-big-1,#edit-destination-id, .form-item-destination-id-big-1, #edit-extra-processing-big, . form-item-use-of-external-designer-program-1, #edit-packaging-price-calculation1{
  margin-top: 3.6em !important;
  margin-bottom: 0.4em !important;
}
 #edit-choice-of-copy-number{
  margin-top: 2.6em !important;
  margin-bottom: 0.4em !important;
}
.addlbl,.rmvlbl,.addlblpk,.rmvlblpk{
	padding-top:3.5em;
}
.grid_list{
border: none;
line-height: 35px;
background: #F4F4F4;
}
.grid_list img{
padding: 5px 0px;
}
tr:nth-child(even) {background: #FFF; border:1px solid #DDD; line-height: 30px;}
tr:nth-child(odd) {background: #f9f9f9; border:1px solid #DDD; line-height: 30px;}
.fa-2x{
    float:right;
}
.form-item-mail {
    float: left;
    margin-bottom: 1em;
    margin-top: 0em;
}
.navbar-form {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: 8px -15px;
    padding:0 !important;
}
cartcount{
width: 20px;
padding: 5px 5px;
border-radius: 23px;
background: #F4F4F4;
margin-left: 5px;
color:#333;
}
.continue{
    float:left !important;}

.payment{
    float:right !important;}

.product_name{
     background: #ed7400 !important;
     padding: 7px 5px !important;
     color: #FFF;
     border-radius: 5px 5px 0px 0px;
     height:35px;
     border:1px solid #CCC;
}
.delete_icon{   
    padding: 0px 10px !important;
    text-align:right;
    background: #ed7400 !important;
    border-radius: 0px px 0px 0px;
}
.delete_icon a{
    font-size:18px;
    color:azure;
}
.cart_price{
    padding: 0px !important;
}
.fieldset-legend{
    font-size: 15px;
  padding: 0px 0px;  
}
html.js fieldset.collapsed{
    
    height:2em !important;
}
.legend{    
   font-weight: 600;
  padding: 5px;
  color: #FFF ;
  background: #ed7400 !important;
  padding: 5px 5px ;
    margin: 10px 0px;
}
.legend a{
color:#FFF !important;

}
.webform-container-inline{
    width:50% !important;
}
.webform-component label{
    width:12%;
    float:left;
}
.webform-component input{
    width:50%;
}
.shipform{
width:50%;
margin-bottom: 10px;
}
.shiplabel{
	width: 15%;
  float: left;
  font-weight: 600;
}
 
.downloadtemp{
    padding: 2% 10%;
  background: #ed7400;  
  color: #FFF !important;
  font-weight: 600;
  text-align: center;
  margin: 0px 22%;
  text-decoration: none !important;
}
.downloadtemp a{
    color:#FFF !important;
    
}
#user-register-form .description{
    
    display:none;
}
#user-register-form .form-item{
    width:48%;
    margin-right:1%;
    margin-top:0px;
}


#user-register-form .form-type-password-confirm {
    width:100% !important;
}
#user-register-form .form-type-password{
    width:48%;
    //float:left !important;
}
input.password-confirm, input.password-field{
    width:100% !important;
   // float:left;
}
.confirm-parent, .password-parent{
    clear:none !important;
}
.password-strength, div.password-confirm{
    margin-top: -0.5em !important;
}
div.form-item div.password-suggestions{
    border:none !important;
}
#user-register-form .form-type-checkboxes{
    width:100% !important;
}
#user-register-form .form-type-checkbox{
    width:100% !important;
}

#edit-account .description{
    
    display:none;
}
#edit-contact, #edit-timezone, #edit-contact{
    display:none;
}
.icon-edit-sign{
   font-size: 18px;
  color: azure;   
}
.contact{
    width:49%;
    float:left;
}
.discountbar{
  font-weight: 600;
  padding: 5px;
  color: #FFF;
  background: #ed7400 !important;
  padding: 5px 5px;
  margin: 10px 0px;
}
.discount{
    border:none !important;
}
.discount input{
    border:none !important;
   
}
.coupandiv{
   border: 1px solid #CCC;
  margin: 20px 0px;
  padding: 15px;
}
.invalid{ 
    color:red;
}