.topnav {
	width: 100%;
	padding: 40px 28px 25px 0;
	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
}

ul.topnav {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none ;
}

ul.topnav li { list-style: none; background-color:#f0efeb;}

ul.topnav li a {
	line-height: 10px;
	font-size: 12px;
	padding: 10px 10px;
	color: #434343;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	margin-bottom:1px;
}

ul.topnav li a:hover {
	background-color:#E14800;
	color:#fff;
}

ul.topnav li.selected a {
	background-color:#ed7400;
	color:#fff;
}

ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
}

ul.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
	/*background-color:#fff;*/
}

ul.topnav ul li a {
	padding-left: 20px;
	font-size: 12px;
	font-weight: normal;
	outline:0;
	background-color:#fff;
}

ul.topnav ul li a:hover {
	background-color:#D3C99C;
	color:#675C7C;
}

ul.topnav ul ul li a {
	color:#675C7C;
	padding-left: 40px;
}

ul.topnav ul ul li a:hover {
	background-color:#D3CEB8;
	color:#675C7C;
}

ul.topnav span{
	float:right;
}

