@media print {
	/* header, side */
	.header-tp,
	a[href]:after,
	.logo-right,
	aside,
	.mattblacktabs ul li:last-child,
	.cartnav,
	.header-bt{display: none;}

	.cartdetails_4{margin-bottom: 10px; font-size: 15px;}
	
	/* javascript bootstrap collapse */
    .collapse{display: block !important; visibility: visible !important;}
}