
/* TABLET LANDSCAPE 
------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1199px){
  .ship-table .date-div__date {width: 99px; padding: 10px 8px;}
  .date-div__day, .date-div__month {font-size: 13px;}
  
}


/* TABLET PORTAIT 
------------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 991px) {
  
   /* inizio slider home responsive */
  .views_slideshow_cycle_main { width: 100%; }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame { width: 100% !important; height: auto; }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row { width: 100% !important; height: auto; }
  .views_slideshow_cycle_main .field-content { max-width: 100%; width: 100%; }
  .views_slideshow_cycle_main .field-content img { max-width: 100%; width: 100%; height: auto; margin: 0; padding: 0; }
  /* fine slider home responsive */
  
  /* menu sinistra */
  ul.topnav li a, ul.topnav ul li a { font-size: 11px; }
  .ico-banner__text { font-size: 11px; }
  
  /* img prodotti in evidenza */
  .item, .item-hover, .item-hover .mask, .item-img, .item-info { height: 156px; }
  .region-first-preface { text-align: center; }
  
  
  .blue-bg_img, .blue-bg_cont { width: 100%; }
  
  .top-carousel .slick-slide img { max-width: 100%; }
  .top-carousel .slick-dots li { width: 15px; }
  
  
  /* scheda prodotto */
  .title-long-desc { width: 70%; }
  .gallerydiv { width: auto; padding: 0; margin-right: 0; background-color: #fff; }
  .gallerydiv img { height: 20px; }
  
  .slick-slide .dimdiv { padding: 0 8px; }
  .dimdiv p { height: auto; }
  #tooltip-inline { font-size: 11px; line-height: 1.3; font-weight: normal; }
  .dimdiv--circle__checked, .dimdiv--material__checked, .dimdiv--processing__checked, .dimdiv--accessories__checked { right: 15px;}
  
  .dimdiv--fr > div { width: 70%; }
  
  
  
  /* elemento singolo */
  .dimdiv--circle-only { margin-left: 0; }
  .dimdiv--circle-only .dimdiv { width: 280px; }
  
  /* tabella data spedizione */
  .ship-table__qnty div { font-size: 11px; }
  .ship-table .date-div__date {width: auto; padding: 10px 5px;}
  .date-div__day, .date-div__month {font-size: 12px;}
  .ship-table .date-div__day-n { font-size: 25px; }
  .ship-table.table-condensed > thead > tr > th,
  .ship-table.table-condensed > tbody > tr > th, 
  .ship-table.table-condensed > tfoot > tr > th, 
  .ship-table.table-condensed > thead > tr > td, 
  .ship-table.table-condensed > tbody > tr > td, 
  .ship-table.table-condensed > tfoot > tr > td { padding: 1px; }
  .ship-table .date-div { margin-bottom: 0; }
  .ship-table .date-div__checked { top: 0; }
 
  .ribbon_price span { font-size: 7px; line-height: 14px; top: 9px; left: -26px; width: 85px; }
  
  
  /* aside destra */
  .panel-heading { font-size: 11px; line-height: 1.3; }
  /* dettaglio carrello tabella aside destra */
  .summary-cart .table-condensed > thead > tr > th, 
  .summary-cart .table-condensed > tbody > tr > th, 
  .summary-cart .table-condensed > tfoot > tr > th, 
  .summary-cart .table-condensed > thead > tr > td, 
  .summary-cart .table-condensed > tbody > tr > td, 
  .summary-cart .table-condensed > tfoot > tr > td {
    display: block; width: 92px;
  }
  .summary-cart .btn { font-size: 9px; white-space: normal; }
  
  
  /* sommario tabella aside destra */
  #summary-cart--product .table-condensed > thead > tr > th, 
  #summary-cart--product .table-condensed > tbody > tr > th, 
  #summary-cart--product .table-condensed > tfoot > tr > th, 
  #summary-cart--product .table-condensed > thead > tr > td, 
  #summary-cart--product .table-condensed > tbody > tr > td, 
  #summary-cart--product .table-condensed > tfoot > tr > td {
    display: block; width: 92px;
  }
  
  
  /* CARRELLO */  
  /* cart */
  .cartlable { width: 33%; }
  .shiplable span.active, .shiplable { font-size: 11px; }
  
  /* spedizione */
  .shipform, #noteform #note { width: 100%; }
  #payment-wrapper .text-center { width: 25%; }
  
  
  /* sommario tabella aside destra */
  .table-mp > thead > tr > th, 
  .table-mp > tbody > tr > th, 
  .table-mp > tfoot > tr > th, 
  .table-mp > thead > tr > td, 
  .table-mp > tbody > tr > td, 
  .table-mp > tfoot > tr > td {
    font-size: 11px; padding: 5px;
  }
  
}


/* MOBILE
--------------------------------------------------------- */
@media only screen and (max-width: 767px) {
  header { margin-bottom: 30px; }
  
  .section-title span img { display: none; }/* è image wave.png */
  /*.item, .item-hover, .item-hover .mask, .item-img, .item-info { height: 275px; }*/
  
  .item-img { position: relative; }
  /* menu sinistra */
  ul.topnav li a, ul.topnav ul li a { font-size: 13px; } 
  .ico-banner__text { font-size: 13px; }
  
  
  .region-first-preface article > div { margin-bottom: 40px; }
  .blue-bg_img { margin-bottom: 0; }
  
  .header-md .head2-left { padding-left: 0; }
  .header-bt .head2-left { width: 100%; }
  .navbar-form { margin: 8px auto; }
  
  .menu-mobile { margin-bottom: 20px; }
  .region-left-sidebar > a { display: none; }
  
  .form-submit.ajax-processed {
    float: right;
    margin-right: -130px !important;
    margin-top: -27px;
  }
  
  .logo-left{
    float:left;
    width:auto !important;
  }
  .logo-right{
    float:left;
    width:auto !important;
    padding-top:5px;
  }
  .mattblacktabs li a:hover, .mattblacktabs li.selected a { background-color: transparent; }
  .mattblacktabs li span { display:none; }
  .mattblacktabs li span.cartcount { display: inline-block; margin-left: 0; }
  
  .p-title{padding:0px; display:none;}
  #user-login input[type="text"]{
      width:100% !important;
  }
  .form-item .description {
    font-size: 0.9em !important;
    width:100%; 
  }
  #user-login input[type="password"] {
    width: 100% !important; 
  }
  #user-login label {
    width: 100%;
  }
  
  .products-Thumbnail .item-hover { display: none; }
  
  .slick-dots { display: none !important; }
  
  #product-big-format .title-product, #product-big-format h2, #product-big-format .description-product,
  #product-small-format .title-product, #product-small-format h2, #product-small-format .description-product { margin-left: 15px; margin-right: 15px; }
  
  /* dettaglio prodotto 
  ------------------------------------------------------------------------------ */
  .order-view-hd { width: auto; margin-left: 10px; }
  
  .gallerydiv { width: auto; padding: 0; margin-right: 15px;}
  .gallerydiv-xs { margin-left: 5px; }
  .add-prefer-xs { font-size: 1.3em; margin-top: -8px; }
  
  /* elemento singolo */
  .dimdiv--circle-only { margin-left: 0; }
  .dimdiv--circle-only .dimdiv { width: 200px; }
  
  .dimdiv--fr input + .fa { margin-top: 0; }
  .dimdiv--fr > div { width: 60%; }
  
  .order-view-hd-adviced { font-size: 10px; }
  .wrapper-choose-extinfo .label-block { margin: 0; }
  .wrapper-choose-extinfo .wrapper-extra-field { float: left!important; }
  .wrapper-choose-extinfo .extra-check:first-of-type { margin-left: 0; }
  .wrapper-choose-extinfo .extra-check:nth-child(2n+1) { margin-left: 0; }
  
  
  /* tabella data spedizione */
  .shipping-date-wrapper { padding: 0; }
  .ship-table__qnty div { font-size: 9px; }
  .ship-table .date-div__date {width: auto; padding: 10px 5px;}
  .date-div__day, .date-div__month {font-size: 9px;}
  .ship-table .date-div__day-n { font-size: 20px; }
  .ship-table.table-condensed > thead > tr > th,
  .ship-table.table-condensed > tbody > tr > th, 
  .ship-table.table-condensed > tfoot > tr > th, 
  .ship-table.table-condensed > thead > tr > td, 
  .ship-table.table-condensed > tbody > tr > td, 
  .ship-table.table-condensed > tfoot > tr > td { padding: 1px; }
  .ship-table .date-div { margin-bottom: 0; }
  .ship-table .date-div__checked { top: 0; }
  
  .ship-table .ship-cell-fixed.selected, .ship-table .ship-cell-fixed.selected .fa-eur { color: #ed7400; }
  .ship-table .ship-cell-fixed.selected .date-div__checked { display: none; }
  
  .ribbon_price span { font-size: 7px; line-height: 14px; top: 9px; left: -26px; width: 85px; }
  
  /* add cart */
  .btn-add-cart { text-align: center; }
  .btn-add-cart .btn { float: none !important; }
  
  
  
  .summary-cart .table-condensed > thead > tr > th, 
  .summary-cart .table-condensed > tbody > tr > th, 
  .summary-cart .table-condensed > tfoot > tr > th, 
  .summary-cart .table-condensed > thead > tr > td, 
  .summary-cart .table-condensed > tbody > tr > td, 
  .summary-cart .table-condensed > tfoot > tr > td {
    display: table-cell; width: 100%;
  }
  
  
  
  
  #product-small-format .carousel-lavorazioni > .fa {
      position: absolute;
      color: #333;
      top: 50%;
      margin-top: -12px;
      cursor: pointer;
  }
  #product-small-format .carousel-lavorazioni .fa-caret-left { left: -25px; }
  #product-small-format .carousel-lavorazioni .fa-caret-right { right: -25px; }
  
  
  
  
  /* VALUTAZIONE */
  .starReviews .rating-new .br-widget { width: 60% !important; }
  
  
  
  /* CARRELLO */  
  /* cart */
  .cartnav > div { width: 100%; text-align: center;}
  .cartdetails_4 { padding-left: 0!important; }
  .cartdetails--open { font-size: 1.2em; margin-right: 2px;}
  /*.cartdetailsline, .cartdetails { text-align: center; }*/  
  .cartdetails_4, .cartdetails, .discount, .cartprice { font-size: 11px; }
  .discountyes .label-block, .deletecart .fa-trash-o { margin-left: 0; }
  .price-summary { margin-top: 15px; }
  .continue, .payment, .payment button{ float: none!important; text-align: center; margin-bottom: 15px; }
  /* spedizione */
  #payment-wrapper .text-center { width: 50%; }
  #payment-wrapper .text-center:nth-child(2n+1){ clear: left; }
  
  
  /* sommario tabella aside destra */
  #mp-list-order > thead > tr > th, 
  #mp-list-order > tbody > tr > th, 
  #mp-list-order > tfoot > tr > th, 
  #mp-list-order > thead > tr > td, 
  #mp-list-order > tbody > tr > td, 
  #mp-list-order > tfoot > tr > td {
    font-size: 9px; padding: 5px;
  }
   
  
}


/* SMARTPHONE PORTRAIT
--------------------------------------------------------- */
@media only screen and (max-width: 480px) {
  
  .top-nav ul li { font-size: 10px; }
  .mattblacktabs li a { padding: 12px 5px; }
  /* elemento singolo */
  .dimdiv--circle-only .dimdiv { width: 160px; }
  
  .dimdiv--circle__checked, .dimdiv--material__checked, .dimdiv--processing__checked, .dimdiv--accessories__checked,
  #product-small-format .section-piega .dimdiv__checked, #product-small-format .section-grammatura .dimdiv__checked { right: 85px;}
  #product-small-format .section-cover .dimdiv__checked { right: 70px;}
  
  .dimdiv--operator-extra__checked { top: 3px; } 
  
  
  #product-big-format #extinfodiv .label-block, #product-small-format #extinfodiv .label-block { width: 100%; }
  #extinfodiv .wrapper-choose-extinfo .number_special { float: left !important; }
  #extinfodiv .wrapper-choose-extinfo .number_special + p { font-size: 10px; line-height: 1.3; margin-top: 6px; }
  
  /* sommario tabella aside destra */
  #summary-cart--product .table-condensed > thead > tr > th, 
  #summary-cart--product .table-condensed > tbody > tr > th, 
  #summary-cart--product .table-condensed > tfoot > tr > th, 
  #summary-cart--product .table-condensed > thead > tr > td, 
  #summary-cart--product .table-condensed > tbody > tr > td, 
  #summary-cart--product .table-condensed > tfoot > tr > td {
    display: table-cell;
  }
  
  
  /* area utente */
  input.password-confirm, input.password-field { width: 16em !important; }
  .password-strength { display: none; }
}